@model estacionamientos.Models.PlayaEstacionamiento

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PlayaEstacionamiento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Provincia" class="control-label"></label>
                <input asp-for="Provincia" class="form-control" />
                <span asp-validation-for="Provincia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ciudad" class="control-label"></label>
                <input asp-for="Ciudad" class="form-control" />
                <span asp-validation-for="Ciudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPiso" class="control-label"></label>
                <input asp-for="TipoPiso" class="form-control" />
                <span asp-validation-for="TipoPiso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValoracionPromedio" class="control-label"></label>
                <input asp-for="ValoracionPromedio" class="form-control" />
                <span asp-validation-for="ValoracionPromedio" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="LlaveRequerida" /> @Html.DisplayNameFor(model => model.LlaveRequerida)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
