@model estacionamientos.Models.ViewModels.Auth.LoginViewModel
@{
    ViewData["Title"] = "Iniciar sesión";
}

<h2>@ViewData["Title"]</h2>
<hr />

<!-- Para mostrar mensaje en caso de errores -->
<div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

<form asp-action="Login" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="ReturnUrl" />

    <div class="mb-3">
        <label asp-for="EmailOrUsername" class="form-label"></label>
        <input asp-for="EmailOrUsername" class="form-control" />
        <span asp-validation-for="EmailOrUsername" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <div class="input-group">
            <input asp-for="Password" class="form-control" type="password" id="passwordInput" />
            <button type="button" class="btn btn-outline-secondary" id="togglePassword">
                <i class="fa-solid fa-eye"></i>
            </button>
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-check mb-3">
        <input asp-for="RememberMe" class="form-check-input" />
        <label asp-for="RememberMe" class="form-check-label"></label>
    </div>

    <button type="submit" class="btn btn-primary">Entrar</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        const togglePassword = document.querySelector("#togglePassword");
        const passwordInput = document.querySelector("#passwordInput");
        const icon = togglePassword.querySelector("i");

        togglePassword.addEventListener("click", function () {
            const type = passwordInput.getAttribute("type") === "password" ? "text" : "password";
            passwordInput.setAttribute("type", type);

            // Cambiar icono
            icon.classList.toggle("fa-eye");
            icon.classList.toggle("fa-eye-slash");
        });
    </script>
}
